/* Font family import */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
/* utilies class */
.container {
    padding: 0 150px;
}
.flex {
    display: flex;
}
.flex-space-between {
    justify-content: space-between;
}
.items-center {
    align-items: center;
}
.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}
.border-radius {
    border-radius: 10px;
}
/* header style */
.header {
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}
.header__logo {
    font-size: 24px;
    color: #f9faf8;
}
.header__menu {
    display: flex;
    list-style: none;
}
.header__menu li {
    margin-left: 15px;
    margin-right: 15px;
}
.header__menu a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}
/* hero style */
.hero {
    background-color: #1f2937;
    height: 100vh;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.hero__content {
    display: flex;
    gap: 2rem;
    padding-bottom: 5rem;
}
.hero__content h1 {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}
.hero__content p {
    padding: 8px 0;
    color: #f9faf8;
}
.hero__content button {
    background-color: #3882f6;
    color: #f9faf8;
    border: none;
    padding: 0.8rem 2rem;
    border-radius: 10px;
    cursor: pointer;
}
.hero__content img {
    height: 300px;
    width: 600px;
    object-fit: cover;
}
.books-grid {
    padding-top: 2rem;
    padding-bottom: 5rem;
}
.books-grid__content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}
.books-grid h2 {
    padding-bottom: 2rem;
}
.books-grid__content img {
    width: 250px;
}
/* Quote section */
.quote {
    background-color: #e5e7eb;
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
}
.quote-content {
    width: 80%;
    margin: auto;
}
.quote-content blockquote {
    font-size: 36px;
    display: flex;
    justify-content: center;
    font-style: italic;
    font-weight: 100;
}
.quote-content .author__details {
    font-weight: 900;
}
/* sign up section */
.signUp {
    padding-top: 100px;
    padding-bottom: 100px;
}
.signUp__content {
    background-color: #3b82f6;
    padding: 2rem 5rem;
    color: white;
    border-radius: 10px;
}
.signUp__content button {
    background-color: #3882f6;
    color: #f9faf8;
    border: 1px solid white;
    padding: 0.8rem 2rem;
    border-radius: 10px;
    cursor: pointer;
}
/* Footer style */
.footer {
    background-color: #1f2937;
    text-align: center;
    padding: 20px 0;
    color: #ffffff;
}
